# If you use docker, change this to "db".
DB_HOST=localhost
DB_PORT=3306
# DB name should be vaktis, if not, change this.
DB_NAME=vaktis
# root should be the user for most of you.
DB_USER=root
# You probably dont have a password for your database, if so, simply remove "PASSWORD_HERE" and leave it blank.
DB_PASSWORD=PASSWORD_HERE