@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
    --primary: #4ae54a;
    --font: 'Inconsolata', monospace;
    --card-bg-color: #6B7151;
    --bg-color: #E1D6C4;
    /*Borders*/
    --border-color: black;
    --border-radius-card :18px;
    --border-radius-input-and-btn: 23px;
    --border-width: 0.149rem;
    /*-------*/
    /*Nav Bar*/
    --nav-bar-bg-color: #6B7151;
    --nav-bar-text-color-important: black;
    --nav-bar-text-color: #f5f0e8;
    --nav-bar-btn-color: #E1D6C4;
    --nav-bar-font-size: 20px;
    /*-------*/
    /*Sign Up Site*/
    --sign-up-site-btn-text-color: #083B1C;
    --cancel-btn-color: #949479;
    --cancel-btn-hover-color: #414532;
    --create-accaunt-btn-color: #949479;
    --create-accaunt-btn-hover-color: #414532;
    /*------------*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    min-height: 100dvh;
}

main {
    flex: 1;
    padding: 2rem;
}

#footer {
    background-color: #6B7151;
    color: white;
    padding: 3rem 2rem;
    width: 100vw;
    margin-top: auto;

    }

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: white;
}

.contact-info, .om-oss {
    flex: 1;
    min-width: 250px;
}

.contact-link {
  color: #f5f0e8;
  background-color: transparent;
  text-decoration: underline;
}

.om-oss-link {
  color: #f5f0e8;
  background-color: transparent;
  text-decoration: underline;
}

.contact-info p {
    margin-bottom: 0.5rem;
}

.om-oss {
    text-align: center;
}


.footer-bottom {
    text-align: center;
    padding-top: 1.5rem;
    border-top: 1px solid #333;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #page-footer {
        padding: 2rem 1rem;
    }
    
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }
}
